{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block top-slider %}
  <section class="container  top-slider">
      <div class="col-md-12">
        <div class="bxslider">
          <div>
            <div class="featured-image" style="background-image:url({% static 'blog/img/img1.jpg' %});">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">Lifestyle</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="single-post.html">Fall In Love With Cat</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper.</p>
                <span class="featured-image__content-link">
                  <a href="single-post.html">Read More</a>
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="featured-image" style="background-image:url({% static 'blog/img/img2.jpg' %});">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">Journey</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="single-post.html">All You Need To Know About Forest</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper.</p>
                <span class="featured-image__content-link">
                  <a href="single-post.html">Read More</a>
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="featured-image" style="background-image:url({% static 'blog/img/img3.jpg' %});">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">Lifestyle</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="single-post.html">Skills That You Can Learn From Book</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper.</p>
                <span class="featured-image__content-link">
                  <a href="single-post.html">Read More</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock top-slider %}

{% block container %}
  <div class="container">
        <div class="col-md-9">
        {% for post in post_list %}
          <div class="blog-post">
            <div class="blog-post-wrapper">
              <div class="blog-post__info  blog-post__info--top">
                <span><a href="#">{{ post.category }}</a></span>
              </div>
              <div class="blog-post__title">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              </div>
              <div class="blog-post__info">
                <span>By <a href="#">{{ post.author }}</a></span>
                <span>{{ post.created_time }}</span>
                <span><a href="#">1 Comments</a></span>
              </div>
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__content">
                <p>{{ post.excerpt|safe }}</p>
              </div>
              <div class="blog-post__footer">
                <a class="blog-post__footer-link" href="{{ post.get_absolute_url }}">Read more</a>
                <div class="blog-post__footer-social">
                  <span>Share:</span>
                  <div class="blog-post__footer-social-icons">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <a>你暂时没有发布任何文章！</a>
        {% endfor %}
          <nav class="blog-pagination">
            <ul class="blog-pagination__items">
              <li class="blog-pagination__item  blog-pagination__item--active">
                <a>1</a>
              </li>
              <li class="blog-pagination__item">
                <a href="#">2</a>
              </li>
              <li class="blog-pagination__item">
                <a href="#">Next Page</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3  sidebar  sidebar--right">
          <div class="sidebar-widget">
            <h3>About Me</h3>
            <div class="sidebar-widget__about-me">
              <div class="sidebar-widget__about-me-image">
                <img src="{% static 'blog/img/about-me.jpg' %}" alt="About Me">
              </div>
              <p>Do believe the faith in what you're doing and don't panic.</p>
              <span class="sidebar-widget__about-me-link">
                <a href="about.html">我我我</a>
              </span>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Follow Me</h3>
            <div class="sidebar-widget__follow-me">
              <div class="sidebar-widget__follow-me-icons">
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Recent Posts</h3>
            <div class="sidebar-widget__popular">
              {% get_recent_posts as recent_posts_list %}
                {% for post in recent_posts_list %}
                <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="{% static 'blog/img/sidebar1.jpg' %}" alt="7 Quick Tips For Coffee"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>{{ post.created_time }}</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">{{ post.title }}</a>
                  </div>
                </div>
              </div>
                {% empty %}
                 暂无文章！
                {% endfor %}
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Category Cloud</h3>
            <div class="sidebar-widget__tag-cloud">
              {% get_categories as category_list %}
                {% for category in category_list %}
                  <a href="#">{{ category.name }}</a>
                {% empty %}
                 暂无分类！
                {% endfor %}
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Tag Cloud</h3>
            <div class="sidebar-widget__tag-cloud">
              {% get_tags as tag_list %}
                {% for tag in tag_list %}
                  <a href="#">{{ tag.name }}</a>
                {% empty %}
                 暂无分类！
                {% endfor %}
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Subscribe</h3>
            <div class="sidebar-widget__subscribe">
              <p>Follow my latest news</p>
              <form action="index.html">
                <input type="text" placeholder="Your email">
                <input class="sidebar-widget__subscribe-submit" type="submit" value="Submit">
              </form>
            </div>
          </div>
          <div class="sidebar-widget">
            <div class="sidebar-slider">
              <div>
                <div class="featured-image" style="background-image:url(img/img1.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Here</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">For Advertisement</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">CONTACT ME</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
              <div>
                <div class="featured-image" style="background-image:url(img/img0.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Inspiration</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">Why Glass Had Been So Popular Till Now?</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">Read More</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
              <div>
                <div class="featured-image" style="background-image:url(img/img3.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Lifestyle</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">Skills That You Can Learn From Book</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">Read More</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock container %}