{% extends 'blog/base.html' %}

{% block container %}
  <div class="container">
        <div class="col-md-12">
          <div class="blog-post  blog-post--fullwidth">
            <div class="blog-post-wrapper">
              <div class="blog-post__info  blog-post__info--top">
                <span><a href="#">Lifestyle</a></span>
              </div>
              <div class="blog-post__title">
                <h1><a href="single-post.html">Fall In Love With Cat</a></h1>
              </div>
              <div class="blog-post__info">
                <span>By <a href="#">Westa</a></span>
                <span>November 14, 2018</span>
                <span><a href="#">3 Comments</a></span>
              </div>
            </div>
            <div class="blog-post__image">
              <a href="single-post.html"><img src="img/img1.jpg" alt="Fall In Love With Cat"></a>
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Suspendisse lobortis</a> commodo ullamcorper. Duis pretium convallis odio non varius. Nulla quis lorem metus. Fusce velit magna, ultricies quis elit sit amet, lacinia porttitor magna. Nulla scelerisque, ex quis imperdiet finibus, elit massa dictum arcu, et fermentum orci felis in ipsum. Suspendisse rutrum nec ipsum id feugiat. Nunc eu lacinia turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam dapibus cursus justo.</p>
                <img class="blog-post__content-imagefull" src="img/single-post1.jpg" alt="Fall In Love With Cat">
                <p>Quis eu odio imperdiet dictumst faucibus quam nostra lorem lorem facilisi sem eget aliquet dignissim ornare ultrices ut. Posuere aliquam maecenas imperdiet sit nonummy. Aenean auctor nulla est auctor conubia porttitor elementum taciti hymenaeos Aptent dui justo donec porta neque Lacinia Dui aliquet. Cras ullamcorper nulla tortor eros maecenas sodales magnis natoque sit placerat parturient mattis nunc dictumst. Non molestie justo pharetra natoque nec. Integer tristique lacinia ultrices.</p>
                <img class="blog-post__content-imagefull" src="img/single-post2.jpg" alt="Fall In Love With Cat">
                <p>Mauris. Nunc quis justo felis Nibh Elementum eu proin lacinia magnis nonummy. Consectetuer. Enim maecenas. Dictum id sed. Habitasse magna taciti suscipit sociis tellus ad, diam orci et lorem purus in rutrum molestie parturient urna porta auctor inceptos venenatis eget congue. Metus vivamus Convallis, primis felis sodales nulla viverra dictum platea sed. Curabitur, varius justo platea. Libero litora, gravida nibh risus turpis ornare congue vestibulum mus.</p>
                <ul>
                  <li>Porttitor justo lobortis sapien.</li>
                  <li>Phasellus inceptos Porttitor.</li>
                  <li>Aliquam in fames et.</li>
                  <li>Elementum odio rutrum vehicula. Platea.</li>
                  <li>Dui amet lacinia congue.</li>
                </ul>
                <ol>
                  <li>Suscipit adipiscing vitae risus tellus.</li>
                  <li>Tempor. Elit. Nascetur. Dis elementum.</li>
                  <li>Dignissim. Ultricies lobortis blandit.</li>
                  <li>Rhoncus etiam, leo cum euismod semper, molestie, turpis.</li>
                  <li>Mi volutpat sagittis tempor, mi dignissim elit potenti.</li>
                </ol>
                <p>Feugiat ante proin mi volutpat Torquent habitasse aliquet orci sapien fringilla gravida. Ridiculus ultrices adipiscing ornare, et platea pretium sit elit dictum tortor vivamus mattis. Bibendum. Hendrerit porttitor lacus eget ante facilisis arcu sodales vel aenean. Imperdiet netus. Blandit potenti tristique penatibus risus morbi ante Magnis arcu proin placerat sociosqu suspendisse. Dolor. Tortor per sapien Dictumst Vitae Eleifend sociis ultrices quis a. Rutrum ligula ornare. Turpis.</p>
                <blockquote>
                  <p>Pulvinar neque. <a href="#">Habitant integer</a> ultricies sapien penatibus scelerisque molestie. Nostra libero per ipsum velit faucibus neque nonummy. Justo. Pellentesque tempor facilisis inceptos Fringilla mus curabitur posuere nam. Litora. Rhoncus commodo nonummy.</p>
                </blockquote>
                <p>Diam pede metus porta. Fermentum ac suspendisse euismod dui nisl sapien vehicula etiam suscipit aptent risus nostra facilisi commodo sagittis ligula ultricies Facilisis ante egestas metus tristique cum turpis odio lacinia porttitor ullamcorper nonummy hac nostra blandit quisque. Tellus. Inceptos faucibus sed platea montes. Condimentum euismod Enim eros imperdiet id luctus dapibus.</p>
                <img class="blog-post__content-imagefull" src="img/single-post3.jpg" alt="Fall In Love With Cat">
              </div>
              <div class="blog-post__footer">
                <div class="blog-post__footer-tags">
                  <h3>Tags:</h3>
                  <div class="blog-post__footer-tags-list">
                    <a href="#">Arts</a>
                    <a href="#">Creative</a>
                  </div>
                </div>
                <div class="blog-post__footer-social">
                  <span>Share:</span>
                  <div class="blog-post__footer-social-icons">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="blog-post__author">
                <div class="blog-post__author-avatar">
                  <img src="img/author.jpg" alt="Author">
                </div>
                <div class="blog-post__author-info">
                  <h5>Written by Daniel Anri</h5>
                  <p>Massa est vehicula mauris dignissim vulputate turpis massa, eget sociis nonummy tristique at suscipit quis natoque dolor penatibus praesent odio nisi erat. Consequat eget cubilia. Mi elementum augue. Nisi sociis.</p>
                  <div class="blog-post__author-info-social">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="blog-post__nav">
                <a class="blog-post__nav-previous" href="#">
                  <span class="blog-post__nav-previous-link">Previous Post</span>
                  <span>Why Glass Had Been So Popular Till Now?</span>
                </a>
                <a class="blog-post__nav-next" href="#">
                  <span class="blog-post__nav-next-link">Next Post</span>
                  <span>All You Need To Know About Forest</span>
                </a>
              </div>
              <div class="blog-post__related">
                <div class="blog-post__related-item">
                  <a href="#">
                    <img src="img/img0.jpg" alt="Why Glass Had Been So Popular Till Now?">
                    <h6>Why Glass Had Been So Popular Till Now?</h6>
                  </a>
                  <span>November 16, 2018</span>
                </div>
                <div class="blog-post__related-item">
                  <a href="#">
                    <img src="img/img2.jpg" alt="All You Need To Know About Forest">
                    <h6>All You Need To Know About Forest</h6>
                  </a>
                  <span>November 10, 2018</span>
                </div>
                <div class="blog-post__related-item">
                  <a href="#">
                    <img src="img/img3.jpg" alt="Skills That You Can Learn From Book">
                    <h6>Skills That You Can Learn From Book</h6>
                  </a>
                  <span>November 7, 2018</span>
                </div>
              </div>
              <div class="blog-post__comments">
                <h5>3 Comments</h5>
                <ul class="blog-post__comments-list">
                  <li class="blog-post__comments-item">
                    <div class="blog-post__comments-item-body">
                      <div class="blog-post__comments-item-avatar">
                        <img src="img/comment1.jpg" alt="Comment Author">
                      </div>
                      <div class="blog-post__comments-item-right">
                        <div class="blog-post__comments-item-reply">
                          <a href="#">Reply</a>
                        </div>
                        <div class="blog-post__comments-item-info">
                          <div class="blog-post__comments-item-info-author">
                            <span>
                              <a href="#">Matt Kian</a>
                            </span>
                          </div>
                          <div class="blog-post__comments-item-info-date">
                            <span>
                              <a href="#">November 25, 2018 at 2:24 pm</a>
                            </span>
                          </div>
                        </div>
                        <div class="blog-post__comments-item-post">
                          <p>Dignissim pharetra consequat condimentum scelerisque. Vestibulum sagittis scelerisque montes enim Cursus dui lectus cras mattis Laoreet aliquam varius ut adipiscing interdum lacus risus mattis urna semper cras hendrerit, morbi nonummy.</p>
                        </div>
                      </div>
                    </div>
                    <ul class="blog-post__comments-children">
                      <li class="blog-post__comments-item">
                        <div class="blog-post__comments-item-body">
                          <div class="blog-post__comments-item-avatar">
                            <img src="img/comment2.jpg" alt="Comment Author">
                          </div>
                          <div class="blog-post__comments-item-right">
                            <div class="blog-post__comments-item-reply">
                              <a href="#">Reply</a>
                            </div>
                            <div class="blog-post__comments-item-info">
                              <div class="blog-post__comments-item-info-author">
                                <span>
                                  <a href="#">Olyvia Becca</a>
                                </span>
                              </div>
                              <div class="blog-post__comments-item-info-date">
                                <span>
                                  <a href="#">September 11, 2018 at 5:35 pm</a>
                                </span>
                              </div>
                            </div>
                            <div class="blog-post__comments-item-post">
                              <p>Aliquet arcu cubilia dignissim natoque posuere vestibulum malesuada integer Ridiculus suscipit justo In tempus penatibus diam arcu dictumst felis scelerisque nunc blandit cubilia condimentum class justo natoque volutpat nam.</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="blog-post__comments-item">
                    <div class="blog-post__comments-item-body">
                      <div class="blog-post__comments-item-avatar">
                        <img src="img/comment3.jpg" alt="Comment Author">
                      </div>
                      <div class="blog-post__comments-item-right">
                        <div class="blog-post__comments-item-reply">
                          <a href="#">Reply</a>
                        </div>
                        <div class="blog-post__comments-item-info">
                          <div class="blog-post__comments-item-info-author">
                            <span>
                              <a href="#">Jess Lavone</a>
                            </span>
                          </div>
                          <div class="blog-post__comments-item-info-date">
                            <span>
                              <a href="#">October, 2018 at 9:48 pm</a>
                            </span>
                          </div>
                        </div>
                        <div class="blog-post__comments-item-post">
                          <p>Dapibus ullamcorper ullamcorper class potenti sed, rhoncus arcu. Ligula iaculis aliquet, interdum luctus porttitor lacinia eu etiam. Pede elementum nisl dui facilisis at, metus facilisi, class consectetuer. Feugiat malesuada dis.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="blog-post__comments-respond">
                  <h5>Leave a Comment</h5>
                  <form action="single-post.html" method="post">
                    <p class="blog-post__comments-respond-comment">
                      <label for="comment">Comment</label>
                      <textarea id="comment" name="comment" cols="45" aria-required="true"></textarea>
                    </p>
                    <p class="blog-post__comments-respond-author">
                      <label for="author">Name*</label>
                      <input id="author" type="text" name="author" size="30" aria-required="true" required>
                    </p>
                    <p class="blog-post__comments-respond-email">
                      <label for="email-form">Email*</label>
                      <input id="email-form" type="email" name="email-form" size="30" aria-required="true" required>
                    </p>
                    <p class="blog-post__comments-respond-url">
                      <label for="url">Website</label>
                      <input id="url" type="text" name="url" size="30" aria-required="true">
                    </p>
                    <p class="blog-post__comments-respond-submit">
                      <input id="submit" type="submit" name="submit" size="30" value="Post Comment">
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock container %}